.contact {
	margin: 80px auto;
	max-width: 90%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.contact-col {
	color: #989696;
}

.contact-col h3 {
	color: #4f4c4c;
	font-weight: 500;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.contact-col h3 img {
	width: 35px;
	margin-left: 10px;
}
.contact-col p {
	max-width: 450px;
	text-align: center;
}
.contact-col ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.contact-col ul li img {
	width: 25px;
	margin-right: 10px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
    background: #67c23d;
    color: #fefefe;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.4s;
}
.button:hover {
	background: #fefefe;
	color: #4f4c4c;
}

.popup {
	background: rgba(0, 0, 0, 0.6);
	width: 100vh;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	overflow: hidden;
}

.popup-content {
	width: 90%;
	max-width: 500px;
	background: #fefefe;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

input,
textarea {
	margin: 15px auto;
	display: block;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 5px;
	width: 90%;
	block-size: border-box;
}

@media (max-width: 768px) {
	.popup-content {
		width: 95%;
		padding: 15px;
	}

	input,
	textarea {
		width: 100%;
	}

	.close {
		width: 20px;
		height: 20px;
		top: -10px;
		right: -10px;
	}
}


@media (max-width: 480px) {
	.popup-content {
		width: 100%; 
		padding: 10px;
	}

	input,
	textarea {
		font-size: 14px;
	}

	.close {
		width: 18px; 
		height: 18px;
	}
}

.close {
	position: absolute;
	width: 25px;
	height: 25px;
	top: -15px;
	right: -15px;
	background: #67c23d;
	border-radius: 50%;
	box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
