@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

body {
	color: #4F4c4c;
}

a {
	text-decoration: none;
	color: inherit;
	line-height: 1;
}
.btn {
	background: #67c23d;
	color: #fefefe;
	padding: 14px 25px;
	font-style: 16px;
	border-radius: 30px;
	border: 0;
	outline: 0;
}
